<% provide(:title, 'メニュー項目の編集') %>
<h1>メニュー項目の編集</h1>

<div class="row">
  <div class="col-md-6 col-md-offset-3">
    <%= form_with(model: @menu_item, local: true) do |f| %>
      <% if @menu_item.errors.any? %>
        <div id="error_explanation">
          <div class="alert alert-danger">
            入力エラーが<%= @menu_item.errors.count %>件がありました。
          </div>
          <ul>
            <% @menu_item.errors.full_messages.each do |msg| %>
              <li><%= msg %></li>
            <% end %>
          </ul>
        </div>
      <% end %>

      <%= f.label :menu_name, class: "label-menu" %>
      <%= f.text_field :menu_name, class: "form-control" %>

      <%= f.label :description, class: "label-menu" %>
      <%= f.text_field :description, class: "form-control" %>

      <%= f.label :price, class: "label-menu" %>
      <%= f.number_field :price, class: "form-control" %>

      <%= f.label :order, class: "label-menu" %>
      <%= f.number_field :order,class: "form-control" %>

      <%= f.submit "更新する", class: "btn btn-primary btn-menu" %>
    <% end %>
  </div>
</div>