<% provide(:title, @user.name) %>

<h1>ユーザー情報</h1>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>名前</td>
      <td><%= @user.name %></td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>   
    </tr>
  
    <tr>
      <td>前回来店日時</td>
      <td><%= @reservation.visit_time.strftime("%Y/%m/%d %p %I:%M") if @reservation.present? && @reservation.visit_time.present? %></td>
        
    </tr>

    <tr>
      <td>予約時間</td>
      <% if @reservation.present? %>
        <td>
          <%= @reservation.start_time.strftime("%Y/%m/%d %p %I:%M") %>
          <%= link_to '削除', reservation_path(@reservation), data: { turbo_method: :delete, turbo_confirm: "ほんとうに予約をキャンセルなさいますか？" }, class: "btn btn-danger", style: "margin-left: 30px;" %>
        </td>
      <% else %>
        <td>未定</td>
      <% end %>
    </tr>
    
  </table>

  <h2>カレンダー</h2>
  <%= month_calendar do |date| %>
    <div>
      <%= link_to date.day, week_calendar_path(start_date: date) %>
    </div>
  <% end %>
</div>