<% provide(:title, @user.name) %>

<h1>ユーザー情報</h1>
<div>
  <table class="table table-bordered table-condensed user-table">
    <tr>
      <td>名前</td>
      <td><%= @user.name %></td>
    </tr>

    <tr>
      <td>メールアドレス</td>
      <td><%= @user.email %></td>   
    </tr>
  
    <tr>
      <td>予約時間</td>
      <% if @reservations.any? %>
        <% @reservations.each do |reservation| %>
          <td><%= reservation.start_time.strftime("%Y/%m/%d %p %I:%M") %></td>
        <% end %>
      <% else %>
        <td>未定</td>
      <% end %>
    </tr>
    
  </table>

  <h2>カレンダー</h2>
  <%= month_calendar do |date| %>
    <div>
      <%= link_to date.day, week_calendar_path(start_date: date) %>
    </div>
  <% end %>
</div>